.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100%;
  color: #9feaf9;
}

::-webkit-scrollbar {
  width: 8px;
  background-color: #282c34;
}
::-webkit-scrollbar-thumb {
  background-color: #9feaf9;
  border-radius: 3px;
}